body {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 80px;
  font-size: 28px;
  text-align: justify;
  margin-left: auto; /* Centrar el contenido */
  margin-right: auto; /* Centrar el contenido */
   background-color: #fafafa;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a237e;
}

p {
    color: #212121;
}

a {
    color: #1a237e;
    text-decoration: none;
}

a:hover {
    color: #0d47a1;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

p {
    margin-bottom: 1em;
}
.parrafo {
  margin-bottom: 1000px;
}


.imgCentered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pie-pagina {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: left;
      /* background-color: rgba(0, 0, 0, 0.7); */
      color: rgb(13, 13, 13);
      padding: 8px;
  }
.contenedor {
          position: relative;
          display: inline-block;
      }

.container {
    display: flex;
    justify-content: flex-end;
}

.title {
  font-size: 84px;
}
.articulo {
  display: flex;
  align-items: flex-start;
}

.imagen {
  display: none;
}

.desarrollo .imagen {
  display: block;
  flex: 0 1 40%;
  position: sticky;
  top: 5%;
  bottom: 50%;
  width: 25%;
  /* aspect-ratio: 10/10; */
  /* margin-right: 20px; Espacio entre la imagen y el texto */
  margin: 0 auto;
}

.imagen img {
  width: 80%;
  height:fit-content;
}

.desarrollo .contenido {
  flex: 1;
  padding: 20px;
  /* background-color: #FFC0CB; */
}

.cambio-color .contenido{
  transition: 0.5s ease-in-out;
  background-color: #c0ffc4;
}

.cambio-color img {
  filter: hue-rotate(180deg);
}


.contenido {
  flex: 1;
  padding: 20px;
  /* background-color: #FFC0CB; */
}

/* Estilos para la sección de Desarrollo */
.desarrollo {
  display: flex;
  align-items: flex-start;
}

.desarrollo .contenido {
  flex: 1;
  text-align: justify; /* Justificar texto */
}


.historia {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 20px;
}

.historia .imagen2 {
  position: relative;
  display: block;
  flex: auto;
  /* margin-left: 10%; */
}

.historia .contenido {
  flex: 1;
  padding-right: 200px;
  text-align: justify; 
}

